body {
  background-color: #518ea1;
  color: #4f4f4f;
  font-family: 'Lato', sans-serif;
}

.word-list-enter {
  opacity: 0.01;
}

.word-list-enter.word-list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.word-list-leave {
  opacity: 1;
}

.word-list-leave.word-list-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* MUTE TOGGLE */
.switch {
  position: relative; width: 75px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.switch input {
  display: none;
}
.switch label {
  display: block; overflow: hidden; cursor: pointer;
  border-radius: 20px;
}
.switch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.switch-inner:before, .switch-inner:after {
  display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
  font-size: 12px; color: white;
  box-sizing: border-box;
}
.switch-inner:before {
  content: "ON";
  padding-left: 13px;
  background-color: #60b861; color: #fff;
}
.switch-inner:after {
  content: "OFF";
  padding-right: 13px;
  background-color: #f4777b; color: #fff;
  text-align: right;
}
.switch-switch {
  display: block; width: 25px;
  background: #FFFFFF;
  height: 25px;
  position: absolute; top: 1px; bottom: 0;
  right: 49px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-inner {
  margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
  right: 11px;
}
.switch-wrap {
  align-items: center;
  background-color: #478294;
  border-radius: 10px;
  display: inline-flex;
  padding: 10px 15px;
}
.switch-label {
  color: #fff;
  font-size: 11px;
  margin-right: 10px;
  text-transform: uppercase;
}

/* END OF TOGGLE MUTE */
